.fss-sidenav {
	background-color: #CCFFCC;
}

md-sidenav-container {
	min-height: 100vh;
}

md-sidenav h1 {
	text-align: center;
	padding-top: 1em;
	color: darkgreen;
}

md-sidenav a {
	color: darkgreen;
	width: 100%;
	text-align: left;
}

md-sidenav a.active {
	background-color: darkgreen;
	color: white;
}
