@import '../theme.scss';
@import '~@angular/material/theming';

.fss-sidenav {
	background-color: mat-color($primary);
}

mat-sidenav-container {
	min-height: 100vh;

}
mat-sidenav h1 {
	color: white;
	text-align: center;
	padding-top: 1em;
}

mat-sidenav a {
	color: white;
	width: 100%;
	text-align: left;
}

mat-sidenav a.active {
	color: white;
	background-color: mat-color($primary, 400);
}

mat-sidenav mat-icon {
	color: white; // CSS can change .svg color!
}
