@import '../theme.scss';

.fss-sidenav {
	background-color: $dark;
}

md-sidenav-container {
	min-height: 100vh;

}
md-sidenav h1 {
	color: white;
	text-align: center;
	padding-top: 1em;
}

md-sidenav a {
	color: white;
	width: 100%;
	text-align: left;
}

md-sidenav a.active {
	color: white;
	background-color: $accent;
}

md-sidenav md-icon {
	color: white; // CSS can change .svg color!
}
