.fss-sidenav {
	background-color: lightgreen;
	padding: 10px;
}

md-sidenav a {
	color: black;
	text-decoration: none;
}

md-sidenav a.active {
	background-color: darkgreen;
	color: white;
}

md-sidenav-container {
	min-height: 100vh;
}
