<form id="child-details-form" *ngIf="child">
    <table>
        <colgroup>
            <col id="names-col">
            <col id="age-col">
            <col id="medical-col">
            <col id="status-col">
        </colgroup>
        <tbody>
            <tr>
                <td>
                    <md-input-container>
                        <input mdInput placeholder="Chinese Name" [(ngModel)]="child.child_chinese_name" name="child-chinese-name">
                    </md-input-container>
                </td>
                <td>
                    <md-input-container>
                        <input mdInput [mdDatepicker]="picker" placeholder="DOB" name="birth-date" [(ngModel)]="child.birth_date_object">
                        <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
                    </md-input-container>
                    <md-datepicker #picker></md-datepicker>
                </td>
                <td>
                    <md-select placeholder="Primary Diagnosis" [(ngModel)]="child.primary_diagnosis" name="primary-diagnosis">
                        <md-option value=""></md-option>
                        <md-option *ngFor="let condition of medical_conditions" [value]="condition">{{condition}}</md-option>
                    </md-select>
                </td>
                <td>
                  <md-icon svgIcon="save_icon" (click)="saveChild()"></md-icon>
                  <md-icon svgIcon="trash_icon" (click)="deleteChild()"></md-icon>
                </td>
            </tr>
            <tr>
                <td>
                    <md-input-container>
                        <input mdInput placeholder="Pinyin Name" [(ngModel)]="child.child_pinyin_name" name="child-pinyin-name">
                    </md-input-container>
                </td>
                <td>
                    <md-input-container>
                        <input mdInput placeholder="Age" disabled [(ngModel)]="age" name="age">
                    </md-input-container>
                </td>
                <td>
                    <md-select placeholder="Secondary Diagnosis" [(ngModel)]="child.secondary_diagnosis" name="secondary-diagnosis">
                        <md-option value=""></md-option>
                        <md-option *ngFor="let condition of medical_conditions" [value]="condition">{{condition}}</md-option>
                    </md-select>
                </td>
                <td rowspan="2">
                    <md-input-container>
                        <textarea mdInput placeholder="status" [(ngModel)]="child.status" name="child-status"></textarea>
                    </md-input-container>
                </td>
            </tr>
            <tr>
                <td>
                    <md-input-container>
                        <input mdInput placeholder="Nickname" [(ngModel)]="child.nickname" name="child-nickname">
                    </md-input-container>
                </td>
                <td>
                    <md-select placeholder="Sex" [(ngModel)]="child.gender" name="sex">
                        <md-option value="M">Male</md-option>
                        <md-option value="F">Female</md-option>
                    </md-select>
                </td>
                <td>
                    <md-input-container>
                        <input mdInput placeholder="Referred By" [(ngModel)]="child.referred_by" name="referred-by">
                    </md-input-container>
                </td>
            </tr>
        </tbody>
    </table>
</form>
