<div id="new-child-div">
    <button mat-raised-button (click)="createNewChild()" id="new-child-btn">Create New</button>
</div>
<div class="search">
    <mat-select id="select-category" class="flex-item" *ngIf=searchCategories placeholder="Search Category" [(ngModel)]="currentSearchCategory"
        name="search-category">
        <mat-option *ngFor="let category of searchCategories" [value]="category">{{category.viewValue}}</mat-option>
    </mat-select>
    <mat-form-field mdBlock class="flex-item" id="search-container">
        <input matInput placeholder="Search" id="search-bar" [(ngModel)]="searchText" (keyup)="filterChildren($event)" name="child-search-bar">
    </mat-form-field>
    <mat-slide-toggle class="flex-item" [(ngModel)]="filterActive" name="active-status-toggle" (ngModelChange)="filterChildren()">Active</mat-slide-toggle>
    <mat-slide-toggle class="flex-item" [(ngModel)]="filterCurrent" name="active-status-toggle" (ngModelChange)="filterChildren()">Current</mat-slide-toggle>
    <mat-slide-toggle class="flex-item" [(ngModel)]="filterInSitu" name="active-status-toggle" (ngModelChange)="filterChildren()">In Situ</mat-slide-toggle>
    <mat-slide-toggle class="flex-item" [(ngModel)]="filterResolved" name="active-status-toggle" (ngModelChange)="filterChildren()">Resolved</mat-slide-toggle>
    <mat-slide-toggle class="flex-item" [(ngModel)]="filterUnknown" name="active-status-toggle" (ngModelChange)="filterChildren()">Unknown</mat-slide-toggle>
</div>
<mat-divider></mat-divider>
<ul class="children">
    <li *ngFor="let child of filteredChildren">
        <button mat-button (click)="onSelect(child)" [class.selected]="isSelected(child)">
            {{child.child_pinyin_name}}
            <div [matTooltip]="child.status" matTooltipPosition="after">
                <div [ngClass]="getChildStatusClass(child)"></div>
            </div>
        </button>
    </li>
</ul>