<mat-tab-group>
    <mat-tab label="Family Information">
        <family-info-tab [child_id]="child_id"></family-info-tab>
    </mat-tab>
    <mat-tab label="Medical Information">
        <medical-info-tab [child_id]="child_id"></medical-info-tab>
    </mat-tab>
    <mat-tab label="Projected Pathway">
        <projected-pathway-tab [child_id]="child_id"></projected-pathway-tab>
    </mat-tab>
    <mat-tab label="Interactions">
        <interactions-tab [child_id]="child_id"></interactions-tab>
    </mat-tab>
</mat-tab-group>
