<div id="new-child-div">
  <button mat-raised-button (click)="createNewChild()" id="new-child-btn">Create New</button>
</div>
<mat-form-field mdBlock id="search-container">
  <input matInput placeholder="Search" id="search-bar" (keyup)="filterChildren($event)">
</mat-form-field>
<ul class="children">
  <li *ngFor="let child of filteredChildren">
    <button mat-button (click)="onSelect(child)" [class.selected]="isSelected(child)">
      {{child.child_pinyin_name}}
      <div [ngClass]="getChildStatusClass(child)"></div>
    </button>
  </li>
</ul>
