/* You can add global styles to this file, and also import other style files */
/* prebuilt angular material theme, can remove or change if we want */
//@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
//@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
//@import "~@angular/material/prebuilt-themes/purple-green.css";

body {
	margin: 0 0 0 0;
}

ul {
	list-style-type: none;
	padding-left: 0px;
}
table {
	border-collapse: collapse;
}
td {
	vertical-align: top;
}
th {
	text-align: left;
}