$accent: #CDA34F;
$light: #E9E7DA;
$medium: #636B46;
$dark: #373F27;

$status_active: lightgreen;
$status_current: orange;
$status_in_situ: aqua;
$status_resolved: palevioletred;
$status_unknown: white;
