<table><tr>
<td id='family-member-list'>
	<family-list (notifySelected)="onSelect($event)" [child_id]="child_id"></family-list>
</td>
<td id='family-member-details'>
	<form *ngIf="family_member" id='family-member-details-form'>
		<ul>
			<li>
				<md-icon svgIcon="save_icon" (click)="save()"></md-icon>
				<md-icon svgIcon="trash_icon" (click)="delete()"></md-icon>
			</li>
			<li>
				<md-input-container>
					<input mdInput placeholder="Name" [(ngModel)]="family_member.family_member_name" name="family-member-name">
				</md-input-container>
			</li>
			<li>
				<md-input-container>
					<input mdInput placeholder="Relationship" [(ngModel)]="family_member.relationship" name="family-member-relationship">
				</md-input-container>
			</li>
			<li>
				<md-input-container>
					<input mdInput placeholder="Phone" [(ngModel)]="family_member.family_member_phone" name="family-member-phone">
				</md-input-container>
			</li>
			<li>
				<md-input-container>
					<input mdInput placeholder="Email" [(ngModel)]="family_member.family_member_email" name="family-member-email">
				</md-input-container>
			</li>
			<li>
				<md-input-container>
					<input mdInput placeholder="WeChat" [(ngModel)]="family_member.family_member_wechat" name="family-member-wechat">
				</md-input-container>
			</li>
			<li>
				<md-input-container>
					<input mdInput placeholder="Address" [(ngModel)]="family_member.family_member_address" name="family-member-address">
				</md-input-container>
			</li>
			<li>
				<md-input-container>
					<textarea mdInput placeholder="Notes" [(ngModel)]="family_member.family_member_notes" name="family-member-notes"></textarea>
				</md-input-container>
			</li>
		</ul>
	</form>
</td>
</tr></table>
