@import '../../../theme.scss';
@import '~@angular/material/theming';

.mat-form-field,#family-member-details {
	width: 100%;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.flex-row {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.flex-item {
	margin-right: 3px;
}

#family-dynamics-box {
	padding-top: 1em;
}
