<div class='flex-col'>
	<div class='flex-item' id='family-dynamics-box' *ngIf='child' class='flex-row'>
		<mat-form-field id='family-dynamics-field' class='flex-item'>
			<textarea matInput placeholder="Family Dynamics Observed" [(ngModel)]="child.family_dynamics" name="family-dynamics"></textarea>
		</mat-form-field>
	</div>
	<div class='flex-item' id='family-members-box' class='flex-row'>
		<div class='flex-item' id='family-member-list'>
			<family-list (notifySelected)="onSelect($event)" [child_id]="child_id"></family-list>
		</div>
		<div class='flex-item' id='family-member-details'>
			<form *ngIf="family_member" id='family-member-details-form'>
				<ul>
					<li>
						<button mat-icon-button>
							<mat-icon svgIcon="save_icon" (click)="saveFamilyMember()" [class.unsaved]="unsaved_family_member"></mat-icon>
						</button>
						<button mat-icon-button>
							<mat-icon svgIcon="trash_icon" (click)="delete()"></mat-icon>
						</button>
					</li>
					<li>
						<mat-form-field>
							<input matInput placeholder="Name" [(ngModel)]="family_member.family_member_name" name="family-member-name">
						</mat-form-field>
					</li>
					<li>
						<mat-form-field>
							<input matInput placeholder="Relationship" [(ngModel)]="family_member.relationship" name="family-member-relationship">
						</mat-form-field>
					</li>
					<li>
						<mat-form-field>
							<input matInput placeholder="Phone" [(ngModel)]="family_member.family_member_phone" name="family-member-phone">
						</mat-form-field>
					</li>
					<li>
						<mat-form-field>
							<input matInput placeholder="Email" [(ngModel)]="family_member.family_member_email" name="family-member-email">
						</mat-form-field>
					</li>
					<li>
						<mat-form-field>
							<input matInput placeholder="WeChat" [(ngModel)]="family_member.family_member_wechat" name="family-member-wechat">
						</mat-form-field>
					</li>
					<li>
						<mat-form-field>
							<input matInput placeholder="Address" [(ngModel)]="family_member.family_member_address" name="family-member-address">
						</mat-form-field>
					</li>
					<li>
						<mat-form-field>
							<textarea matInput placeholder="Notes" [(ngModel)]="family_member.family_member_notes" name="family-member-notes"></textarea>
						</mat-form-field>
					</li>
					<li>
						<mat-checkbox [(ngModel)]="family_member.family_member_is_primary" name="primary_caregiver">Primary Caregiver</mat-checkbox>
					</li>
				</ul>
			</form>
		</div>
	</div>
	<div class='flex-item' id='other-family-members-box' *ngIf='child' class='flex-row'>
		<mat-form-field id='other-family-members' class='flex-item'>
			<textarea matInput placeholder="Other Significant Family Members" [(ngModel)]="child.other_family_members" name="other-family-members"></textarea>
		</mat-form-field>
	</div>
</div>
