mat-form-field {
	width: 100%;
	height: 100%;
}
textarea {
	width: 100%;
}
td {
	vertical-align: bottom;
}
#category-col {
	width: 9em;
}
#recommendations-col {
	width: 50%;
}

#development-table {
	width: 100%;
}
#feeding-recommendations {
	height: 6em;
}
#physical-recommendations {
	height: 7em;
}

.flex-row {
	padding-top: 0.3em;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

.flex-item {
	margin-right: 3px;
}
