<button i18n mat-raised-button (click)="createInteraction()">New Interaction</button>
<table *ngIf="interactions != null && interactions.length != 0">
    <tr>
        <th i18n>Date</th>
        <th i18n>Type</th>
        <th i18n>Coordinator</th>
        <th i18n>People Present</th>
        <th></th>
        <th></th>
    </tr>
    <tr *ngFor="let interaction of interactions"
        (click)="selectInteraction(interaction.id)"
        [ngClass]="{initialInteraction:interaction.is_initial_interaction, selected:isSelected(interaction)}"
    >
        <td [ngClass]="{reminder:isFuture(interaction), selected:isSelected(interaction)}">
            {{interaction.interaction_date}}
        </td>
        <td>{{interaction.interaction_type}}</td>
        <td>{{interaction.interaction_coordinator}}</td>
        <td>{{interaction.people_present}}</td>
        <td *ngIf="interaction.is_initial_interaction; else elseBlock" i18n>Initial Interaction</td>
        <ng-template #elseBlock></ng-template>
        <td><mat-icon *ngIf="interaction.has_attachments" svgIcon="file_icon"></mat-icon></td>
    </tr>
</table>
<br>
<interactions-form *ngIf="expanded_interaction" [child_id]="child_id" [interaction]="expanded_interaction" (notifyDeletedOrHidden)="handleNotification($event)"></interactions-form>
