<div *ngIf="interaction">
    <div>
        <button md-button (click)="hideForm()">Hide</button>
        <button md-raised-button (click)="saveInteraction()">Save</button>
        <button md-button (click)="deleteInteraction()" color="warn">Delete</button>
    </div>
    <table>
        <tr>
            <td>
                <md-input-container>
                    <input mdInput [mdDatepicker]="picker" placeholder="date" name="interaction-date" [(ngModel)]="interaction.interaction_date_object">
                    <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
                </md-input-container>
                <md-datepicker #picker></md-datepicker>
            </td>
            <td>
                <md-select placeholder="Type" [(ngModel)]="interaction.interaction_type" name="interaction-type">
                    <md-option *ngFor="let interaction_type of interaction_types" [value]="interaction_type">{{interaction_type}}</md-option>
                </md-select>
            </td>
            <td>
                <md-select placeholder="Coordinator" [(ngModel)]="interaction.interaction_coordinator" name="interaction-type">
                    <md-option *ngFor="let interaction_coordinator of interaction_coordinators" [value]="interaction_coordinator">{{interaction_coordinator}}</md-option>
                </md-select>
            </td>
            <td>
                <md-input-container>
                    <input mdInput placeholder="People Present" [(ngModel)]="interaction.people_present" name="people-present">
                </md-input-container>
            </td>
            <td>
                <md-checkbox [(ngModel)]="interaction.is_initial_interaction">initial interaction</md-checkbox>
            </td>
        </tr>
    </table>
    <div *ngIf="!showDetails()">
        <md-input-container>
            <textarea mdInput placeholder="Notes" [(ngModel)]="interaction.follow_up" name="follow-up-notes"></textarea>
        </md-input-container>
    </div>
    <div *ngIf="showDetails()">
        <ul *ngIf="interaction.is_initial_interaction">
            <li>
                <md-input-container>
                    <textarea mdInput placeholder="Current Concerns" [(ngModel)]="interaction.current_concerns" name="current-concerns"></textarea>
                </md-input-container>
            </li>
            <li>
                <md-input-container>
                    <textarea mdInput placeholder="Developmental history and current ability" [(ngModel)]="interaction.dev_history" name="developmental-history"></textarea>
                </md-input-container>
            </li>
        </ul>
        <ul *ngIf="!interaction.is_initial_interaction">
            <li>
                <md-input-container>
                    <textarea mdInput placeholder="Developments since last visit" [(ngModel)]="interaction.dev_since_last_visit" name="dev-since-last-visit"></textarea>
                </md-input-container>
            </li>
            <li>
                <md-input-container>
                    <textarea mdInput placeholder="Follow up on last visit’s recommendations" [(ngModel)]="interaction.follow_up" name="follow-up"></textarea>
                </md-input-container>
            </li>
            <li>
                <md-input-container>
                    <textarea mdInput placeholder="Current Concerns" [(ngModel)]="interaction.current_concerns" name="current-concerns"></textarea>
                </md-input-container>
            </li>
        </ul>
        <table id="development-table">
            <tr>
                <th></th>
                <th>Notes</th>
                <th>Recommendations</th>
            </tr>
            <tr>
                <th>Feeding:</th>
                <td>
                    <md-checkbox [(ngModel)]="child.milk_feeding">milk</md-checkbox>
                </td>
                <td rowspan="4">
                    <md-input-container>
                        <textarea mdInput placeholder="Feeding recommendations" [(ngModel)]="child.feeding_recommendations" id="feeding-recommendations"
                            name="feeding-recommendations">
                        </textarea>
                    </md-input-container>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <md-checkbox [(ngModel)]="child.solid_feeding">solids</md-checkbox>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <md-checkbox [(ngModel)]="child.self_feeding">self-feeding</md-checkbox>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <md-input-container>
                        <input mdInput placeholder="Texture preferences" [(ngModel)]="child.texture_preferences" name="texture-preferences">
                    </md-input-container>
                </td>
            </tr>
            <tr>
                <th>Developmental:<br>and behavioural:</th>
                <td>
                    <md-input-container>
                        <input mdInput placeholder="Notes" [(ngModel)]="child.developmental_notes" name="development-notes">
                    </md-input-container>
                </td>
                <td>
                    <md-input-container>
                        <input mdInput placeholder="Recommendations" [(ngModel)]="child.developmental_recommendations" name="development-recommendations">
                    </md-input-container>
                </td>
            </tr>
            <tr>
                <th>OT:</th>
                <td>
                    <md-input-container>
                        <input mdInput placeholder="Notes" [(ngModel)]="child.ot_notes" name="ot-notes">
                    </md-input-container>
                </td>
                <td>
                    <md-input-container>
                        <input mdInput placeholder="Recommendations" [(ngModel)]="child.ot_recommendations" name="ot-recommendations">
                    </md-input-container>
                </td>
            </tr>
            <tr>
                <th>Sensory issues:</th>
                <td>
                    <md-input-container>
                        <input mdInput placeholder="Notes" [(ngModel)]="child.sensory_notes" name="sensory-notes">
                    </md-input-container>
                </td>
                <td>
                    <md-input-container>
                        <input mdInput placeholder="Recommendations" [(ngModel)]="child.sensory_recommendations" name="sensory-recommendations">
                    </md-input-container>
                </td>
            </tr>
            <tr>
                <th>Speech:</th>
                <td>
                    <md-input-container>
                        <input mdInput placeholder="Notes" [(ngModel)]="child.speech_notes" name="speech-notes">
                    </md-input-container>
                </td>
                <td>
                    <md-input-container>
                        <input mdInput placeholder="Recommendations" [(ngModel)]="child.speech_recommendations" name="speech-recommendations">
                    </md-input-container>
                </td>
            </tr>
            <tr>
                <th>Physical:</th>
                <td>
                    <md-checkbox [(ngModel)]="child.head_control">Head control</md-checkbox>
                </td>
                <td rowspan="5">
                    <md-input-container>
                        <textarea mdInput placeholder="Physical Recommendations" [(ngModel)]="child.physical_recommendations" id="physical-recommendations"
                            name="physical-recommendations">
                        </textarea>
                    </md-input-container>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <md-checkbox [(ngModel)]="child.rolling">Rolling</md-checkbox>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <md-checkbox [(ngModel)]="child.sitting">Sitting</md-checkbox>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <md-checkbox [(ngModel)]="child.standing">Standing</md-checkbox>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <md-checkbox [(ngModel)]="child.walking">Walking</md-checkbox>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <md-input-container>
                        <input mdInput placeholder="Gross Motor Notes" [(ngModel)]="child.gross_motor_notes" name="gross-moter-notes">
                    </md-input-container>
                </td>
                <td>
                    <md-input-container>
                        <input mdInput placeholder="Gross Motor Recommendations" [(ngModel)]="child.gross_motor_recommendations" name="gross-motor-recommendations">
                    </md-input-container>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <md-input-container>
                        <input mdInput placeholder="Fine Motor Notes" [(ngModel)]="child.fine_motor_notes" name="fine-moter-notes">
                    </md-input-container>
                </td>
                <td>
                    <md-input-container>
                        <input mdInput placeholder="Fine Motor Recommendations" [(ngModel)]="child.fine_motor_recommendations" name="fine-motor-recommendations">
                    </md-input-container>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <md-input-container>
                        <input mdInput placeholder="Weakness Notes" [(ngModel)]="child.weakness_notes" name="weakness-notes">
                    </md-input-container>
                </td>
                <td>
                    <md-input-container>
                        <input mdInput placeholder="Weakness Recommendations" [(ngModel)]="child.weakness_recommendations" name="weakness-recommendations">
                    </md-input-container>
                </td>
            </tr>
        </table>
    </div>
</div>