<form *ngIf="child" id="projected-pathway-form">
    <button mat-raised-button (click)="save()">Save</button>
    <button mat-raised-button (click)="addNewStep()">Add Step</button>
    <div>
        <table *ngIf="projectedPathways != null && projectedPathways.length != 0">
            <colgroup>
                <col id="delete-col">
                <col id="step-no-col">
                <col id="short-description-col">
                <col id="details-col">
                <col id="completion-col">
            </colgroup>
            <tbody>
                <tr>
                    <th></th>
                    <th>Step No.</th>
                    <th>Short Description</th>
                    <th>Details</th>
                    <th>Completion Date</th>
                </tr>
                <tr *ngFor="let pathway of projectedPathways">
                    <td class="align-middle">
                    <button mat-icon-button>
                        <mat-icon svgIcon="trash_icon" (click)="delete(pathway.id)"></mat-icon>
                    </button>
                    </td>
                    <td class="align-middle">{{pathway.pathway_step_number}}</td>
                    <td>
                        <mat-form-field>
                            <textarea matInput [(ngModel)]="pathway.pathway_short_description" name="{{pathway.id}}_short_description"></textarea>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <textarea matInput [(ngModel)]="pathway.pathway_details" name="{{pathway.id}}_details"></textarea>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker" [(ngModel)]="pathway.pathway_completion_date_object" name="{{pathway.id}}_datepicker">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        </mat-form-field>
                        <mat-datepicker #picker></mat-datepicker>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>
