<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FSS Forms - {{ title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/form_common.css') }}">
</head>

<body>
    <div class="section-label">
        <h1>SOAR Family Support Services</h1>
        <h2>{{ title }}</h2>
    </div>
    <div class="info-row" id="child-info">
        <div class="info-section">
            <h3>Child's Name: {{ child.child_pinyin_name }}</h3>
            <h4 class="needs-space-right">Nickname: {{ child.nickname }}</h4>
        </div>
        <div class="info-section">
            <h3>DOB: {{ child.birth_date.strftime('%Y-%m-%d') }}</h3>
            <h4 class="needs-space-right">Child's age at first visit:</h4>
        </div>
        <div class="info-section">
            <h3>Referred by: {{ child.referred_by }}</h3>
            <h4 class="needs-space-right">Data of first visit:</h4>
        </div>
        <div class="info-section">
            <img src="{{ url_for('static', filename='photos/' + child_photo) }}" alt={{ child.nickname }}>
        </div>
    </div>
    <div class="info-row">
        <div class="info-section">
            <h3 class="needs-space-right">Logcation:</h3>
            <h4 class="needs-space-right">Specialitsts Present:</h4>
        </div>
    </div>
    {% block content %}{% endblock %}
</body>

</html>